{% extends 'base2.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block content %}
    <h1> </h1>
    {{ form(form) }}

    <center>
    <table class="table table-striped">
        <thead>
            <th>pupl</th>
            <th>groupe</th>
            <th>nbr</th>
            <th>date</th>
            <th>subject</th>
        </thead>

        <tbody>

        {% for a in abscense %}
            <tr>
                <td>{{ a.pupl }}</td>
                <td>{{ a.groupe }}</td>
                <td>{{ a.nbr }}</td>
                <td>{{ a.date|date() }}</td>
                <td>{{ a.subject}}</td>

            </tr>
        {% endfor %}
        </tbody>

    </table>
{% endblock %}